/*@font-face {
    font-family: "Bliss Pro Extra Light";
    src: url("../fonts/BlissPro-ExtraLight.otf") format("opentype");
}

@font-face {
    font-family: "Bliss Pro Light";
    src: url("../fonts/BlissPro-Light.otf") format("opentype");
}

@font-face {
    font-family: "Bliss Pro Regular";
    src: url("../fonts/BlissPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Bliss Pro Medium";
    src: url("../fonts/BlissPro-Medium.otf") format("opentype");
}

@font-face {
    font-family: "Bliss Pro Bold";
    src: url("../fonts/BlissPro-Bold.otf") format("opentype");
}*/

@font-face {
    font-family: 'Bliss Pro';
    src: url('BlissPro-Medium.eot');
    src: url('BlissPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('BlissPro-Medium.woff') format('woff'),
        url('BlissPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Bliss Pro';
    src: url('BlissPro-ExtraLight.eot');
    src: url('BlissPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('BlissPro-ExtraLight.woff') format('woff'),
        url('BlissPro-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Bliss Pro';
    src: url('BlissPro-Bold.eot');
    src: url('BlissPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('BlissPro-Bold.woff') format('woff'),
        url('BlissPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bliss Pro';
    src: url('BlissPro.eot');
    src: url('BlissPro.eot?#iefix') format('embedded-opentype'),
        url('BlissPro.woff') format('woff'),
        url('BlissPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bliss Pro';
    src: url('BlissPro-Light.eot');
    src: url('BlissPro-Light.eot?#iefix') format('embedded-opentype'),
        url('BlissPro-Light.woff') format('woff'),
        url('BlissPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}